---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';
import Gradient from '@/components/ProjectCard/Gradient.astro';
import Tag from '@/components/Tag.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import GithubButton from '@/components/GithubButton.astro';
import OpenButton from '@/components/OpenButton.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<'projects'>;
};

const { entry } = Astro.props;
const { title, logo, description, screenshots, gradient, features, github, link, tags } =
  entry.data;
const hasGithub = github !== undefined;
---

<Layout title={title}>
  <Gradient type={gradient} class="flex h-44 sm:h-32 w-full">
    <div
      class="flex w-full flex-col px-4 sm:px-0 pb-4 py-4 sm:py-0 sm:flex-row items-center sm:justify-center gap-4 bg-gradient-to-t from-white dark:from-slate-950 sm:mx-auto"
    >
      <img
        draggable="false"
        src={logo}
        alt={`${title} logo`}
        class="h-16 w-16 object-contain sm:h-20 sm:w-20"
      />
      <h1 class="text-4xl font-bold text-black dark:text-white">{title}</h1>
    </div>
  </Gradient>
  <main class="min-h-screen mx-auto flex max-w-xl flex-col gap-6 px-6 pt-6 pb-12 sm:px-0">
    <section class="flex flex-col gap-8 pb-4">
      <div class="flex flex-wrap gap-2 flex-row items-center justify-between">
        <ul class="flex flex-row gap-2 flex-wrap">
          {tags.map((tag) => <Tag label={tag} color="blue" />)}
        </ul>
        <div class="flex flex-row gap-4">
          {hasGithub ? <GithubButton link={github} /> : null}
          {link ? <OpenButton link={link} /> : null}
        </div>
      </div>
      <p class="text-lg">{description}</p>
    </section>
    <section>
      <SectionTitle>Features</SectionTitle>
      <ul class="list-inside pb-6 [list-style-type:circled-alpha]">
        {features.map((feature) => <li class="list-item before:ps-2 marker:text-xl">{feature}</li>)}
      </ul>
    </section>
    {
      screenshots ? (
        <section>
          <SectionTitle>Screenshots</SectionTitle>
          <div class="flex flex-col gap-8">
            {screenshots.map((screenshot) => (
              <Image
                loading="lazy"
                src={screenshot}
                alt={`${title} screenshot`}
                class="h-100 w-full object-contain"
              />
            ))}
          </div>
        </section>
      ) : null
    }
  </main>
</Layout>
